.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-medium {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

.resize{
	width:195px;
	height:290px;
}

body {
	background-color: slategrey;
}

h1 {

	color: rebeccapurple;
	font-family: "Cinzel Decorative";
	text-align: center;
}

p {
	color: white;
	font-family: "Cormorant Garamond";
	font-size: 30px;
	text-align: center;
}

a {
	color: mediumseagreen;
	font-family: "Cormorant Garamond";
	font-size: 30px;
	text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

div {
	background-color: black;
	outline:2px solid antiquewhite;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

    border-top-right-radius:15px;
	border-top-left-radius:15px;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
}